// Create

@mixin page-create() {
  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20rem;
  }

  &__heading {
  }

  &__button{
    width: min-content;

    @include media('>=600') {
      width: initial;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__label {
    display: block;
    align-self: flex-start;
    margin-bottom: 10rem;
  }

  &__input {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 10rem;
    background: var(--color-gray-blue);
    border: 1rem solid var(--color-gray-70);
    border-radius: 5rem;

    @include media('>=600') {
      width: 400rem;
      margin-bottom: 10rem;
    }
  }

  &__span {
    margin-bottom: 20rem;
    align-self: flex-start;
    color: var(--color-alert-50);
  }
}

// Update

@mixin page-update() {
  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20rem;
  }

  &__heading {
  }

  &__button{
    width: min-content;

    @include media('>=600') {
      width: initial;
    }
  }

  &__button-delete {
  }

  &__button-edit {
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__label {
    align-self: flex-start;
    margin-bottom: 10rem;
  }

  &__input {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 10rem;
    padding: 10rem;
    background: var(--color-gray-blue);
    border: 1rem solid var(--color-gray-70);
    border-radius: 5rem;

    @include media('>=600') {
      width: 400rem;
      margin-bottom: 10rem;
    }
  }

  &__span {
    margin-bottom: 20rem;
    align-self: flex-start;
    color: var(--color-alert-50);
  }
}
